{% extends "base.html" %}

{% block content %}
<h1 style="color: grey;">Time Table Generator</h1>
<h2> Data Entry </h2>

{% if success %}
  <p style="color: green;">{{ success }}</p>
{% endif %}
{% if error %}
  <p style="color: red;">{{ error }}</p>
{% endif %}

<div class="form-section">
<button class="button" onclick="location.href='/add_teacher'"> Add Teacher 👨‍🏫</button>
<div style="margin-bottom: 10px;"></div>
<button class="button" onclick="location.href='/add_subject'"> Add Subject 📕</button>
<div style="margin-bottom: 10px;"></div>
<button class="button" onclick="location.href='/add_department'"> Add Department 🏫</button>
<div style="margin-bottom: 10px;"></div>
<button class="button" onclick="location.href='/add_timeslot'"> Add Timeslots 📅</button>
</div>

{% endblock %}
