{% extends 'base.html' %}

{% block content %}
<h1> Time Table Generator </h1>
<h2> Get started  </h2>
<div class="form-section">
    <p style="color:#da3682 ;"> time table generator helps to generate time table of university department based on the 
        data user provide into the database 
    </p>
    <h4 style="color: #007bff;"> steps to generate time table </h4>
    <ol>
       <li> add data on the data entry  </li>
       <li> click on the generate time table </li>
       <li> view the time table </li>

    </ol>
</div>

{% endblock %}