{% extends 'base.html' %}

{% block content %}
<h1> Time Table Generator </h1>
<h2> Home </h2>

<div class="form-section">
<h5 style="color: #da3682 ;"> welcome to the time table generator </h5>
<button class="button" onclick="location.href='/doc'"> get started 😊</button>
<div style="margin-bottom: 10px;"></div>
<button class="button" onclick="location.href='/works'"> How it works 🤔?</button>
<div style="margin-bottom: 10px;"></div>
<button class="button" onclick="location.href='/data'"> add data here 📄</button>
<div style="margin-bottom: 10px;"></div>
<button class="button" onclick="location.href='/us'"> About us 🤝</button>
</div>



{% endblock %}