{% extends 'base.html' %}

{% block content %}
<h1> Time Table Generator </h1>
<h2> About us </h2>
<div class="form-section">
    <p style="color:#da3682 ;"> This project was made in group for the database and data structure subjects </p>
    <h4 style="color: #007bff;"> Project members </h4>
    <ol>
       <li><strong>Najaf Ali (leader)</strong> :  managed the project </li>
       <li> <strong> Abdul Rauf </strong> : worked on the frontend </li>
       <li> <strong> Mudassir </strong> : worked on the logic </li>
       <li> <strong> Muhammad Ahsan </strong> : worked on the schema of the database</li>
       <li> <strong> Muhammad Umar </strong> : worked on the backend </li>
    </ol>
</div>

{% endblock %}