{% extends 'base.html' %}

{% block content %}
<h1> Time Table Generator </h1>
<h2> How it works   </h2>
<div class="form-section">
    <p style="color:#da3682 ;"> the logic for time table generator is still under work but 
        the basic idea is to generate time table of university department based on the 
        data user provide into the database 
    </p>
    <h4 style="color: #007bff;"> basic idea in steps  </h4>
    <ol>
       <li> data preprocess from database </li>
       <li> follow the contriants and logic </li>
       <li> finally generate the timetable </li>
    </ol>
</div>

{% endblock %}